#### imports

In [5]:
import pandas as pd
import numpy as np
from prophet import Prophet

In [6]:
df = pd.read_excel('facts 2022-2023.xlsx')
df

            Кафе       Дата  Тр  Чек  День недели
0          ПД-00 2022-01-01   0  0.0      суббота
1          ПД-00 2022-01-02   0  0.0  воскресенье
2          ПД-00 2022-01-03   0  0.0  понедельник
3          ПД-00 2022-01-04   0  0.0      вторник
4          ПД-00 2022-01-05   0  0.0        среда
...          ...        ...  ..  ...          ...
23369  Кейтеринг 2024-01-18   0  0.0      четверг
23370  Кейтеринг 2024-01-19   0  0.0      пятница
23371  Кейтеринг 2024-01-20   0  0.0      суббота
23372  Кейтеринг 2024-01-21   0  0.0  воскресенье
23373  Кейтеринг 2024-01-22   0  0.0  понедельник

[23374 rows x 5 columns]

#### cleaning data

In [7]:
df['Кафе'].unique()

array(['ПД-00', 'ПД-01', 'ПД-02', 'ПД-03', 'ПД-04', 'ПД-05', 'ПД-06',
       'ПД-07', 'ПД-08', 'ПД-09', 'ПД-10', 'ПД-11', 'ПД-12', 'ПД-13',
       'ПД-14', 'ПД-15', 'ПД-16', 'ПД-17', 'ПД-18', 'ПД-19', 'ПД-21',
       'ПД-23', 'ПД-24', 'ПД-26', 'ПД-27', 'ПД-28', 'ПД-29', 'ПД-30',
       'Доставка', 'Агрегаторы', 'Мелкий опт', 'Корпоративные клиенты',
       'Туристы', 'Кейтеринг'], dtype=object)

In [8]:
df = df[df['Кафе']!='Кейтеринг']

In [9]:
df.isnull().sum()

Кафе           0
Дата           0
Тр             0
Чек            0
День недели    0
dtype: int64

In [10]:
df = df[['Кафе', 'Дата', 'Тр', 'Чек']]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22622 entries, 0 to 22621
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Кафе    22622 non-null  object
 1   Дата    22622 non-null  datetime64[ns]
 2   Тр      22622 non-null  int64
 3   Чек     22622 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 883.7+ KB

#### forecasting

In [12]:
holiday = pd.read_excel('holidays_df.xlsx')

In [13]:
def forec_func(obj, result_df):
    cafes = df['Кафе'].unique().tolist()

    for cafe in cafes:
        df_cafe = df[df['Кафе'] == cafe]
        df_cafe = df_cafe[['Дата', obj]]
        df_cafe.columns = ['ds', 'y']

        # Создание нового экземпляра модели для каждого кафе
        m = Prophet(holidays=holiday)
        m.add_country_holidays(country_name='RU')

        # Обучение модели на данных каждого кафе
        m.fit(df_cafe)

        # Создание будущего датафрейма и выполнение прогноза
        future = m.make_future_dataframe(periods=365)
        forecast = m.predict(future)
        
        forecast["Кафе"] = cafe
        forecast["Показатель"] = obj

        # Сохранение прогноза в result_df
        result_df = pd.concat([result_df, forecast])
    return result_df

In [14]:
result_df = pd.DataFrame()

In [15]:
result_df = forec_func('Тр', result_df)

23:40:33 - cmdstanpy - INFO - Chain [1] start processing
23:40:34 - cmdstanpy - INFO - Chain [1] done processing
23:40:34 - cmdstanpy - INFO - Chain [1] start processing
23:40:34 - cmdstanpy - INFO - Chain [1] done processing
23:40:35 - cmdstanpy - INFO - Chain [1] start processing
23:40:35 - cmdstanpy - INFO - Chain [1] done processing
23:40:35 - cmdstanpy - INFO - Chain [1] start processing
23:40:35 - cmdstanpy - INFO - Chain [1] done processing
23:40:35 - cmdstanpy - INFO - Chain [1] start processing
23:40:36 - cmdstanpy - INFO - Chain [1] done processing
23:40:36 - cmdstanpy - INFO - Chain [1] start processing
23:40:36 - cmdstanpy - INFO - Chain [1] done processing
23:40:36 - cmdstanpy - INFO - Chain [1] start processing
23:40:36 - cmdstanpy - INFO - Chain [1] done processing
23:40:37 - cmdstanpy - INFO - Chain [1] start processing
23:40:37 - cmdstanpy - INFO - Chain [1] done processing
23:40:37 - cmdstanpy - INFO - Chain [1] start processing
23:40:37 - cmdstanpy - INFO - Chain [1] done processing
23:40:38 - cmdstanpy - INFO - Chain [1] start processing
23:40:38 - cmdstanpy - INFO - Chain [1] done processing
23:40:38 - cmdstanpy - INFO - Chain [1] start processing
23:40:38 - cmdstanpy - INFO - Chain [1] done processing
23:40:39 - cmdstanpy - INFO - Chain [1] start processing
23:40:39 - cmdstanpy - INFO - Chain [1] done processing
23:40:39 - cmdstanpy - INFO - Chain [1] start processing
23:40:39 - cmdstanpy - INFO - Chain [1] done processing
23:40:40 - cmdstanpy - INFO - Chain [1] start processing
23:40:40 - cmdstanpy - INFO - Chain [1] done processing
23:40:40 - cmdstanpy - INFO - Chain [1] start processing
23:40:40 - cmdstanpy - INFO - Chain [1] done processing
23:40:41 - cmdstanpy - INFO - Chain [1] start processing
23:40:41 - cmdstanpy - INFO - Chain [1] done processing
23:40:41 - cmdstanpy - INFO - Chain [1] start processing
23:40:41 - cmdstanpy - INFO - Chain [1] done processing
23:40:42 - cmdstanpy - INFO - Chain [1] start processing
23:40:42 - cmdstanpy - INFO - Chain [1] done processing
23:40:42 - cmdstanpy - INFO - Chain [1] start processing
23:40:42 - cmdstanpy - INFO - Chain [1] done processing
23:40:43 - cmdstanpy - INFO - Chain [1] start processing
23:40:43 - cmdstanpy - INFO - Chain [1] done processing
23:40:43 - cmdstanpy - INFO - Chain [1] start processing
23:40:43 - cmdstanpy - INFO - Chain [1] done processing
23:40:44 - cmdstanpy - INFO - Chain [1] start processing
23:40:44 - cmdstanpy - INFO - Chain [1] done processing
23:40:44 - cmdstanpy - INFO - Chain [1] start processing
23:40:44 - cmdstanpy - INFO - Chain [1] done processing
23:40:45 - cmdstanpy - INFO - Chain [1] start processing
23:40:45 - cmdstanpy - INFO - Chain [1] done processing
23:40:45 - cmdstanpy - INFO - Chain [1] start processing
23:40:45 - cmdstanpy - INFO - Chain [1] done processing
23:40:45 - cmdstanpy - INFO - Chain [1] start processing
23:40:45 - cmdstanpy - INFO - Chain [1] done processing
23:40:46 - cmdstanpy - INFO - Chain [1] start processing
23:40:46 - cmdstanpy - INFO - Chain [1] done processing
23:40:46 - cmdstanpy - INFO - Chain [1] start processing
23:40:46 - cmdstanpy - INFO - Chain [1] done processing
23:40:46 - cmdstanpy - INFO - Chain [1] start processing
23:40:46 - cmdstanpy - INFO - Chain [1] done processing
23:40:47 - cmdstanpy - INFO - Chain [1] start processing
23:40:47 - cmdstanpy - INFO - Chain [1] done processing
23:40:47 - cmdstanpy - INFO - Chain [1] start processing
23:40:47 - cmdstanpy - INFO - Chain [1] done processing
23:40:48 - cmdstanpy - INFO - Chain [1] start processing
23:40:48 - cmdstanpy - INFO - Chain [1] done processing
23:40:48 - cmdstanpy - INFO - Chain [1] start processing
23:40:48 - cmdstanpy - INFO - Chain [1] done processing

In [16]:
result_df = forec_func('Чек', result_df)

23:40:48 - cmdstanpy - INFO - Chain [1] start processing
23:40:49 - cmdstanpy - INFO - Chain [1] done processing
23:40:49 - cmdstanpy - INFO - Chain [1] start processing
23:40:49 - cmdstanpy - INFO - Chain [1] done processing
23:40:49 - cmdstanpy - INFO - Chain [1] start processing
23:40:49 - cmdstanpy - INFO - Chain [1] done processing
23:40:50 - cmdstanpy - INFO - Chain [1] start processing
23:40:50 - cmdstanpy - INFO - Chain [1] done processing
23:40:50 - cmdstanpy - INFO - Chain [1] start processing
23:40:50 - cmdstanpy - INFO - Chain [1] done processing
23:40:51 - cmdstanpy - INFO - Chain [1] start processing
23:40:51 - cmdstanpy - INFO - Chain [1] done processing
23:40:51 - cmdstanpy - INFO - Chain [1] start processing
23:40:51 - cmdstanpy - INFO - Chain [1] done processing
23:40:52 - cmdstanpy - INFO - Chain [1] start processing
23:40:52 - cmdstanpy - INFO - Chain [1] done processing
23:40:52 - cmdstanpy - INFO - Chain [1] start processing
23:40:52 - cmdstanpy - INFO - Chain [1] done processing
23:40:53 - cmdstanpy - INFO - Chain [1] start processing
23:40:53 - cmdstanpy - INFO - Chain [1] done processing
23:40:53 - cmdstanpy - INFO - Chain [1] start processing
23:40:53 - cmdstanpy - INFO - Chain [1] done processing
23:40:54 - cmdstanpy - INFO - Chain [1] start processing
23:40:54 - cmdstanpy - INFO - Chain [1] done processing
23:40:54 - cmdstanpy - INFO - Chain [1] start processing
23:40:54 - cmdstanpy - INFO - Chain [1] done processing
23:40:54 - cmdstanpy - INFO - Chain [1] start processing
23:40:55 - cmdstanpy - INFO - Chain [1] done processing
23:40:55 - cmdstanpy - INFO - Chain [1] start processing
23:40:55 - cmdstanpy - INFO - Chain [1] done processing
23:40:55 - cmdstanpy - INFO - Chain [1] start processing
23:40:55 - cmdstanpy - INFO - Chain [1] done processing
23:40:56 - cmdstanpy - INFO - Chain [1] start processing
23:40:56 - cmdstanpy - INFO - Chain [1] done processing
23:40:56 - cmdstanpy - INFO - Chain [1] start processing
23:40:56 - cmdstanpy - INFO - Chain [1] done processing
23:40:57 - cmdstanpy - INFO - Chain [1] start processing
23:40:57 - cmdstanpy - INFO - Chain [1] done processing
23:40:57 - cmdstanpy - INFO - Chain [1] start processing
23:40:57 - cmdstanpy - INFO - Chain [1] done processing
23:40:58 - cmdstanpy - INFO - Chain [1] start processing
23:40:58 - cmdstanpy - INFO - Chain [1] done processing
23:40:58 - cmdstanpy - INFO - Chain [1] start processing
23:40:58 - cmdstanpy - INFO - Chain [1] done processing
23:40:59 - cmdstanpy - INFO - Chain [1] start processing
23:40:59 - cmdstanpy - INFO - Chain [1] done processing
23:40:59 - cmdstanpy - INFO - Chain [1] start processing
23:40:59 - cmdstanpy - INFO - Chain [1] done processing
23:41:00 - cmdstanpy - INFO - Chain [1] start processing
23:41:00 - cmdstanpy - INFO - Chain [1] done processing
23:41:00 - cmdstanpy - INFO - Chain [1] start processing
23:41:00 - cmdstanpy - INFO - Chain [1] done processing
23:41:00 - cmdstanpy - INFO - Chain [1] start processing
23:41:00 - cmdstanpy - INFO - Chain [1] done processing
23:41:00 - cmdstanpy - INFO - Chain [1] start processing
23:41:00 - cmdstanpy - INFO - Chain [1] done processing
23:41:01 - cmdstanpy - INFO - Chain [1] start processing
23:41:01 - cmdstanpy - INFO - Chain [1] done processing
23:41:01 - cmdstanpy - INFO - Chain [1] start processing
23:41:01 - cmdstanpy - INFO - Chain [1] done processing
23:41:02 - cmdstanpy - INFO - Chain [1] start processing
23:41:02 - cmdstanpy - INFO - Chain [1] done processing
23:41:02 - cmdstanpy - INFO - Chain [1] start processing
23:41:02 - cmdstanpy - INFO - Chain [1] done processing
23:41:03 - cmdstanpy - INFO - Chain [1] start processing
23:41:03 - cmdstanpy - INFO - Chain [1] done processing

#### Prepare result and save to Excel

In [17]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69334 entries, 0 to 1116
Data columns (total 69 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ds                                 69334 non-null  datetime64[ns]
 1   trend                              69334 non-null  float64
 2   yhat_lower                         69334 non-null  float64
 3   yhat_upper                         69334 non-null  float64
 4   trend_lower                        69334 non-null  float64
 5   trend_upper                        69334 non-null  float64
 6   1 мая                              69334 non-null  float64
 7   1 мая_lower                        69334 non-null  float64
 8   1 мая_upper                        69334 non-null  float64
 9   23 февраля                         69334 non-null  float64
 10  23 февраля_lower                   69334 non-null  float64
 11  23 февраля_upper                   69334 non-null  float64
 12  9 мая                              69334 non-null  float64
 13  9 мая_lower                        69334 non-null  float64
 14  9 мая_upper                        69334 non-null  float64
 15  Christmas Day                      69334 non-null  float64
 16  Christmas Day_lower                69334 non-null  float64
 17  Christmas Day_upper                69334 non-null  float64
 18  Fatherland Defender's Day          69334 non-null  float64
 19  Fatherland Defender's Day_lower    69334 non-null  float64
 20  Fatherland Defender's Day_upper    69334 non-null  float64
 21  Holiday of Spring and Labor        69334 non-null  float64
 22  Holiday of Spring and Labor_lower  69334 non-null  float64
 23  Holiday of Spring and Labor_upper  69334 non-null  float64
 24  International Women's Day          69334 non-null  float64
 25  International Women's Day_lower    69334 non-null  float64
 26  International Women's Day_upper    69334 non-null  float64
 27  New Year Holidays                  69334 non-null  float64
 28  New Year Holidays_lower            69334 non-null  float64
 29  New Year Holidays_upper            69334 non-null  float64
 30  Russia Day                         69334 non-null  float64
 31  Russia Day_lower                   69334 non-null  float64
 32  Russia Day_upper                   69334 non-null  float64
 33  Unity Day                          69334 non-null  float64
 34  Unity Day_lower                    69334 non-null  float64
 35  Unity Day_upper                    69334 non-null  float64
 36  Victory Day                        69334 non-null  float64
 37  Victory Day_lower                  69334 non-null  float64
 38  Victory Day_upper                  69334 non-null  float64
 39  additive_terms                     69334 non-null  float64
 40  additive_terms_lower               69334 non-null  float64
 41  additive_terms_upper               69334 non-null  float64
 42  holidays                           69334 non-null  float64
 43  holidays_lower                     69334 non-null  float64
 44  holidays_upper                     69334 non-null  float64
 45  weekly                             69334 non-null  float64
 46  weekly_lower                       69334 non-null  float64
 47  weekly_upper                       69334 non-null  float64
 48  yearly                             62552 non-null  float64
 49  yearly_lower                       62552 non-null  float64
 50  yearly_upper                       62552 non-null  float64
 51  День Народного Единства            69334 non-null  float64
 52  День Народного Единства_lower      69334 non-null  float64
 53  День Народного Единства_upper      69334 non-null  float64
 54  День России                        69334 non-null  float64
 55  День России_lower                  69334 non-null  float64
 56  День России_upper                  69334 non-null  float64
 57  Женский день                       69334 non-null  float64
 58  Женский день_lower                 69334 non-null  float64
 59  Женский день_upper                 69334 non-null  float64
 60  Новый Год                          69334 non-null  float64
 61  Новый Год_lower                    69334 non-null  float64
 62  Новый Год_upper                    69334 non-null  float64
 63  multiplicative_terms               69334 non-null  float64
 64  multiplicative_terms_lower         69334 non-null  float64
 65  multiplicative_terms_upper         69334 non-null  float64
 66  yhat                               69334 non-null  float64
 67  Кафе                               69334 non-null  object
 68  Показатель                         69334 non-null  object
dtypes: datetime64[ns](1), float64(66), object(2)
memory usage: 37.0+ MB

In [18]:
pivot_df = result_df.set_index('ds')

In [19]:
pivot_df = pivot_df.pivot_table(index=['ds', 'Кафе'], columns='Показатель', values='yhat').reset_index()

In [20]:
pivot_df

Показатель         ds                   Кафе           Тр          Чек
0          2022-01-01             Агрегаторы     5.231933   -10.650459
1          2022-01-01               Доставка   369.615216  1542.766124
2          2022-01-01  Корпоративные клиенты    -2.299475  3743.456124
3          2022-01-01             Мелкий опт     0.783621  1524.517077
4          2022-01-01                  ПД-00    -1.104816  -134.110148
...               ...                    ...          ...          ...
34662      2025-01-21                  ПД-27   -16.292088   502.737684
34663      2025-01-21                  ПД-28   -26.787144  1202.993235
34664      2025-01-21                  ПД-29  1097.626748  1215.181968
34665      2025-01-21                  ПД-30  1066.509378  4093.496980
34666      2025-01-21                Туристы    -1.730943 -1268.836797

[34667 rows x 4 columns]

In [21]:
pivot_df['ТО'] = pivot_df['Тр'] * pivot_df['Чек']

In [22]:
pivot_df.to_excel('forecast_revenue.xlsx', index=False)

#### average forecasting

In [37]:
from scipy import stats

# Определение функции для замены выбросов медианными значениями
def replace_outliers_with_median(df, column):
    for cafe in df['Кафе'].unique():
        # Выборка данных по кафе
        cafe_data = df[df['Кафе'] == cafe]

        # Расчет медианы и IQR
        median = cafe_data[column].median()
        Q1 = cafe_data[column].quantile(0.25)
        Q3 = cafe_data[column].quantile(0.75)
        IQR = Q3 - Q1

        # Определение границ для выбросов
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # Замена выбросов медианным значением
        df.loc[(df['Кафе'] == cafe) & ((df[column] < lower_bound) | (df[column] > upper_bound)), column] = median
        return df

In [24]:
df

          Кафе       Дата  Тр        Чек
0        ПД-00 2022-01-01   0   0.000000
1        ПД-00 2022-01-02   0   0.000000
2        ПД-00 2022-01-03   0   0.000000
3        ПД-00 2022-01-04   0   0.000000
4        ПД-00 2022-01-05   0   0.000000
...        ...        ...  ..        ...
22617  Туристы 2024-01-18   2  17.552083
22618  Туристы 2024-01-19   1  17.770833
22619  Туристы 2024-01-20   1  32.625000
22620  Туристы 2024-01-21   0   0.000000
22621  Туристы 2024-01-22   0   0.000000

[22622 rows x 4 columns]

In [25]:
data = df.copy()

In [39]:
# Применение функции к столбцам 'Тр' и 'Чек'
data = replace_outliers_with_median(data, 'Тр')
data = replace_outliers_with_median(data, 'Чек')

In [40]:
data

          Кафе       Дата   Тр     Чек
0        ПД-00 2022-01-01  0.0     0.0
1        ПД-00 2022-01-02  0.0     0.0
2        ПД-00 2022-01-03  0.0     0.0
3        ПД-00 2022-01-04  0.0     0.0
4        ПД-00 2022-01-05  0.0     0.0
...        ...        ...  ...     ...
22617  Туристы 2024-01-18  2.0  9034.5
22618  Туристы 2024-01-19  1.0  9034.5
22619  Туристы 2024-01-20  1.0  9034.5
22620  Туристы 2024-01-21  0.0  9034.5
22621  Туристы 2024-01-22  0.0  9034.5

[22622 rows x 4 columns]

In [42]:
data[(data['Кафе'] == 'Доставка') & 
     (data['Дата'].dt.month == 2) & 
     (data['Дата'].dt.year == 2023)][['Чек', 'Дата']]

               Чек       Дата
19258  2569.717581 2023-02-01
19259  2422.589541 2023-02-02
19260  2316.810966 2023-02-03
19261  1791.799624 2023-02-04
19262  1855.634293 2023-02-05
19263  2866.537297 2023-02-06
19264  2548.773382 2023-02-07
19265  2587.957882 2023-02-08
19266  2587.821635 2023-02-09
19267  2227.507906 2023-02-10
19268  1922.535970 2023-02-11
19269  1846.853735 2023-02-12
19270  2787.359688 2023-02-13
19271  2387.463634 2023-02-14
19272  2471.447966 2023-02-15
19273  2625.209357 2023-02-16
19274  2390.487346 2023-02-17
19275  1945.365870 2023-02-18
19276  2076.231517 2023-02-19
19277  3114.944321 2023-02-20
19278  3136.224094 2023-02-21
19279  2336.489254 2023-02-22
19280  2145.576704 2023-02-23
19281  1886.129887 2023-02-24
19282  1874.010451 2023-02-25
19283  2065.791447 2023-02-26
19284  2953.483111 2023-02-27
19285  2720.130252 2023-02-28